@charset "utf-8";
@import "normalize";
@import "grid";

$primary-color: #3D3D85;

body {
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-style: normal;
  font-weight: 400; // we also have the 600 and 700 font weights
  font-size: 15px;
  background-color: #f9f9f9;
}

a {
  color: inherit;
}

.title {
  background-color: $primary-color;
  background-image: url("../images/BG.jpg");
  background-size: cover;
  color: white;
  font-size: 2em;
}

.notbold {
  font-weight: 400;
}

.smaller {
  font-size: .85em;
}

.logo {
  height: 150px;
}

.navbar {
  padding: 10px;
}

.navsec {
  padding-right: 20px;
}

.secheader {
  padding-bottom: 30px;
  text-align: center;
}

.general {
  background-color: #fcfcfc;
  color: $primary-color;
}

.content {
  text-decoration: none;
  padding: 50px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.quote {
  font-size: 1.2em;
  color: #888;
}

.shaded {
  background-color: #E5E3DE;
}
.shaded-dark {
  background-color: #333;
  color: #eee;
}

.wborder {
  border: 1px solid white;
}

.testImg {
  max-width: 90%;
  padding: 20px;
}

h1, h2, h3, h4, p {
  margin: 0px;
}

h1.hero-header {
  line-height: 0.8;
  font-weight: 700;
}

h1, h2, h3, strong {
  font-weight: 600;
}

h2 {
  font-size: .67em;
  line-height: 1;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-weight: 400;
  font-size: .9em;
  font-style: italic;
}

ul {
  padding-left: 1.6em;
}

p {
  font-weight: 400;
  line-height: 1.7;
}

.button>button, .button-light>button {
  width: 100%;
  display: block;
  background-color: transparent;
  text-decoration: none;
  padding: 0.6em 1em;
  border-radius: 3px;
  font-weight: 600;
  font-size: 1rem;
  transition: all 100ms linear;
  &:hover { transform: scale(1.05); }
  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(1);
    box-shadow: none;
  }
}
.button>button {
  color: white;
  border: 2px solid white;
  &:hover {
    background-color: white;
    color: $primary-color;
  }
  &:focus { box-shadow: 0px 0px 4px white; }
}
.button-light>button {
  color: $primary-color;
  border: 2px solid $primary-color;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
  &:focus { box-shadow: 0px 0px 4px $primary-color; }
}

.hero {
  text-transform: uppercase;
}

.bullet {
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 50%;
}

.full-img {
  width: 100%;
}


