@charset "utf-8";
@import "normalize";
@import "grid";

body {
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-style: normal;
  font-weight: 400; // we also have the 600 and 700 font weights
}

.title {
  background-color: #29167a;
  color: white;
  font-size: 2em;
}

.notbold {
  font-weight: 400;
}

.smaller {
  font-size: .85em;
}

.logo {
  max-height: 137px;
//   max-width: 130px;
}

.general {
  background-color: #29167a;
  color: white;
}

.information {
  border: 2px solid white;
}

.testimony {
  border: 2px solid white;
}

h1, h2 {
  margin: 0px;
}

h1 {
  line-height: 100%;
}

h2 {
  font-size: .67em;
}

a {
  color: white;
  border: 2px solid white;
  text-decoration: none;
  margin-top: 18px;
}