@charset "utf-8";
@import "normalize";
@import "grid";

body {
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-style: normal;
  font-weight: 400; // we also have the 600 and 700 font weights
}

.title {
  background-color: #29167a;
  background-image: url("../images/BG.jpg");
  background-size: cover;
  color: white;
  font-size: 2em;
}

.notbold {
  font-weight: 400;
}

.smaller {
  font-size: .85em;
}

.logo {
  max-height: 137px;
}

.secheader {
  padding-bottom: 30px;
}

.general {
//   background-color: #29167a;
//   color: white;
  background-color: #fcfcfc;
  color: #29167a;

}

.information {
//   color: white;
  color: #29167a;
  text-decoration: none;
  padding: 20px 20px 20px 50px;
}

.testimony {
//   color: white;
  color: #29167a;
  text-decoration: none;
  padding: 20px 50px 20px 20px;
}

.wborder {
  border: 1px solid white;
}

.testImg {
  max-width: 90%;
  padding: 20px;
}

h1, h2, h3, H4, p {
  margin: 0px;
}

h1 {
  line-height: 100%;
}

h2 {
  font-size: .67em;
}

h4 {
  font-weight: 400;
  font-size: .9em;
  font-style: italic;
}

p {
  padding-top: 5px;
  font-weight: 400;
}

a {
  color: white;
  border: 2px solid white;
  text-decoration: none;
  margin-top: 18px;
//   background-color: transparent;
}

.hero {
  text-transform: uppercase;
}

a:hover {
  background-color: white;
  cursor: auto;
  color: #29167a;
}