---
title: CarlHacks 2016
---

<div class="page middle center title">
	<div class="middle center row gap-3">
		<%= image_tag "./logo-white.png", class: 'logo' %>
		<div class="col justify">
			<h1>CARL<span class=notbold>HACKS</span></h1>
			<h2><span class="notbold">NORTHFIELD, MN</span> • APRIL 8-10, 2016</h2>
			<a href="#"><span class="center">JOIN US</span></a>
		</div>
	</div>
</div>

<div class="page middle justify general gap-2">
	<div class="middle justify row gap-5">
		<div class="fill-1 col justify information">
			<div class="center">
				<h1>Test?</h1>
			</div>
		</div>
		<div class="fill-1 col justify testimony">
			<div class="center">
				<h1>Testimonials</h1>
				<%= image_tag "./me.jpg", class: 'testImg' %>
				<h3>Makala Hieshima</h3>
				<p>Winnerrrr<p>
			</div>
		</div>
	</div>
</div>