---
title: CarlHacks 2016
---

<div class="page middle center title">
	<div class="middle center row gap-3 hero">
		<%= image_tag "./logo-white.svg", class: 'logo' %>
		<div class="col justify gap-3">
			<h1>Carl<span class=notbold>Hacks</span></h1>
			<h2 class="row justify middle">
				<span class="notbold">Northfield, MN</span>
				<div class="bullet"></div>
				<span>April 8-10, 2016</span>
			</h2>
			<a href="#" class="button"><span class="center">Join Us</span></a>
		</div>
	</div>
</div>

<div class="page middle justify general gap-2">
	<div class="middle vjustify justify row gap-5">
		<div class="fill-1 vjustify justify information">
			<div class="center col vjustify">
				<div class="secheader vjustify"><h1>GENERAL INFORMATION</h1></div>
				<div class="center vjustify">
					<h3>Mission<h3/>
					<p>The goal of CarlHacks is to promote programming at Carleton College, in Minnesota, and throughout liberal arts institutions in general. CarlHacks 2015 was one of the first national hackathons hosted by a liberal arts college.</p>
					<p>Hackathon definition: an event, typically lasting one to several days, in which a large number of people meet to engage in collaborative computer programming. A portmanteau of "hack" (to create) and "marathon".</p>
				</div>
				<div class="center vjustify">
					<h3>Schedule<h3/>
					<p>CarlHacks 2016 will be held in Carleton College's Recreation Center from approximately 3pm on Friday, April 8 to 5pm on Sunday, April 10.</p>
				</div>
				<div class="center vjustify">
					<h3>Resources<h3/>
					<p>An assortment of hardware for checkout by participants will be provided by Major League Hacking.  Meals, snacks, and coffee will be provided throughout the event, and we will have a multitude of air mattresses for you to sleep on.</p>
				</div>
			</div>
		</div>
		<div class="fill-1 col justify testimony">
			<div class="center">
				<div class="secheader"><h1>TESTIMONIALS</h1></div>
				<%= image_tag "./me.jpg", class: 'testImg' %>
				<h3>NAME</h3>
				<h4>SCHOOL, C/O</h4>
				<p>"Waow CarlHacks is sew kl."<p>
			</div>
		</div>
	</div>
</div>