---
title: CarlHacks 2016
---
<a id="mlh-trust-badge" style="position:absolute;top:0;right:50px;max-width:100px;width:10%;min-width: 60px;display:block;z-index:10" href="https://mlh.io/seasons/s2016/events?utm_source=s2016&utm_medium=TrustBadge&utm_campaign=s2016" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/s2016.png" alt="MLH Official - Spring 2016" style="width:100%;" ></a>

<div class="col justify">
	<div class="page col vjustify center title">
		<div class="see-more-top-padding"></div>
		<div class="center col gap-5 xl-middle xl-center xl-row xl-gap-3 hero">
			<%= image_tag "logo-white.svg", class: 'logo' %>
			<div class="col justify gap-3">
				<h1 class="hero-header">Carl<span class=notbold>Hacks</span></h1>
				<h2 class="row justify middle">
					<span class="notbold">Northfield, MN</span>
					<div class="bullet"></div>
					<span>April 8-10, 2016</span>
				</h2>
				<tito-button event="carlhacks/2016" class="button button-disabled">Registration Closed</tito-button>
			</div>
		</div>
		<div class="see-more">
			More Info Below
		</div>
	</div>
	<div class="bg-vid">
		<video id="bg-vid" class="bg-vid" preload='none' src="/mp4/bg.mp4" poster="/images/video-poster.png" loop>
		</video>
		<script>
			var checkWidth = function() {
				if (window.innerWidth >= 768) {
					document.getElementById('bg-vid').play();
				}
			}
			window.onresize = checkWidth;
			window.onload = checkWidth;
			setTimeout(checkWidth, 100);
		</script>
	</div>
</div>

<div class="xl-row xl-middle">
	<div class="fill-1 vjustify justify content">
		<div class="col vjustify gap-4">
			<div class="col justify vjustify gap-3">
				<h3>200 students. 36 hours. Limitless possibilities.</h3>
				<p>We're excited to announce CarlHacks, Carleton College's second national hackathon. Whether you've been programming for five minutes or five years, you'll find CarlHacks to be an incredible space to learn more. Bring your next big idea to life over the course of 36 hours (napping strongly encouraged), attend a cornucopia of workshops, and join an awesome community of hackers. Undergrads from any university in the US are invited.</p>
			</div>
			<div class="col justify vjustify gap-3">
				<h3>Why CarlHacks?</h3>
				<ul class="col gap-1">
					<li><p>Compete in teams to <strong>win exciting prizes</strong> (last year, the members of the winning team each took home a drone)</p></li>
					<li><p>Get <strong>one-on-one help</strong> from professors and professional engineers</p></li>
					<li><p>Attend <strong>Git and web development classes</strong> for beginners, and <strong>workshops on advanced topics</strong> throughout the event</p></li>
					<li><p>Chat with companies and <strong>kickstart your internship or job search</strong></p></li>
					<li><p>Hack with Oculus Rifts, Pebble watches, Leap Motions, and more from the <strong>hardware lab</strong></p></li>
					<li><p>Eat <strong>delicious catered meals</strong>, snacks, and of course, coffee</p></li>
					<li><p>Need a coding break? Take a nap on an air mattress, a shower in our bathrooms, walk around our 880-acre arboretum, or participate in one of our exciting mini-events, complete with mini-prizes</p></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="fill-1 col justify content gap-3 xl-col xl-gap-5">
		<div class="row gap-4 middle">
			<%= image_tag "me.jpg", class: 'avatar' %>
			<p class="col gap-1 fill quote">
				<span>&ldquo;CarlHacks was my ninth hackathon, so when I say it was incredible, I really mean it. The people around me were inspiring, and I committed to Carleton the day after I left.&rdquo;</span>
				<span><strong>Makala</strong> created <a href="http://devpost.com/software/chilltwo">chillTwo</a></span>
			</p>
		</div>
		<div class="row gap-4 middle">
			<%= image_tag "sabastian.jpg", class: 'avatar' %>
			<p class="col gap-1 fill quote">
				<span>&ldquo;We were extremely proud that we were able to use the Oculus Rift...we were able to build a lot of simulations that contained the beauty of space that we all wanted to see.&rdquo;</span>
				<span><strong>Sabastian</strong> co-created <a href="http://devpost.com/software/guardians-of-the-galaxy">Guardians of the Galaxy</a></span>
			</p>
		</div>
		<div class="row gap-4 middle">
			<%= image_tag "flo.jpg", class: 'avatar' %>
			<p class="col gap-1 fill quote">
				<span>&ldquo;As a non computer science major, CarlHacks was a great opportunity to hack alongside motivated people in a supportive environment. My partner and I had a blast creating an app for sexiled college students.&rdquo;</span>
				<span><strong>Florence</strong> co-created <a href="http://devpost.com/software/carleton-sexodus">Sexodus</a></span>
			</p>
		</div>
		<div class="quote center">
			<p>You can view more projects created last year on <a href="http://carlhacks.devpost.com/submissions">DevPost</a>.</p>
		</div>
	</div>
</div>

<div class="xl-row xl-middle xl-vjustify">
	<div class="fill-1 col middle justify shaded">
		<div class="col content gap-4">
			<div class="col justify vjustify gap-3">
				<h3>The Schedule</h3>
				<p><strong>On Friday April 8th:</strong> Hackers arrive between <strong>7pm and 9pm</strong>. The opening ceremony begins at <strong>9pm</strong>, and coding begins at <strong>10pm</strong>.</p>
				<p><strong>On Sunday April 10th:</strong> Coding stops at <strong>9am</strong>. We'll announce winners and have people back on buses by <strong>2pm</strong>.</p>
				<p>We'll post a more detailed schedule shortly.</p>
			</div>
			<div class="col justify vjustify gap-3">
				<h3>Packing List</h3>
				<p>CarlHacks is completely free to attend. You'll need <strong>a laptop, charger, and student ID</strong>. We'd also recommend bringing <strong>toiletries, shower shoes, a change of clothing, and a pillow</strong>. We'll provide meals, snacks, showers, and air beds for napping. If you don't have a project idea or team, don't worry! There will be team-forming events, and we find some of our best ideas come <em>during</em> the hackathon, not before. If you come with a team, note that the maximum team size is five.</p>
			</div>
			<div class="col justify vjustify gap-3">
				<h3>Join Us</h3>
				<div class="col left"><tito-button event="carlhacks/2016" class="button-light button-disabled">Registration Closed</tito-button></div>
				<p>Shoot us an email at <a href="mailto:team@carlhacks.com">team@carlhacks.com</a> if you have any questions, disabilities, special needs, or if there's anything else we can do to ensure CarlHacks goes smoothly for you. This is an MLH event, so we abide by the <a href="/pdf/coc.pdf">MLH code of conduct</a>.</p>
				<p>If you're a Carleton student and haven't registered yet, you can email us to get a ticket.</p>
			</div>
		</div>
	</div>
	<div class="fill-1 shaded-dark col">
		<img class="full-img" src="/images/rec.jpg">
		<div class="col content gap-4">
			<div class="col justify vjustify gap-3">
				<h3>Traveling to CarlHacks</h3>
				<p>CarlHacks is hosted in Northfield, Minnesota, at Carleton College's Recreation Center. If you're not already in Northfield, there are plenty of ways to get here.</p>
				<ul class="col gap-2">
					<li><p><strong>By Bus</strong> &mdash; We have buses picking up hackers from schools near the Twin Cities.</p></li>
					<li><p><strong>By Car</strong> &mdash; You're welcome to drive over! We're located at <a href="https://www.google.com/maps/place/Recreation+Center/@44.4658458,-93.1509383,17z/data=!4m7!1m4!3m3!1s0x87f653b24725124b:0x6d95c2df8da47350!2s501+Three+Oaks+Dr,+Northfield,+MN+55057!3b1!3m1!1s0x0000000000000000:0x5b430ae20b614ef7?hl=en" class="light-link">501 Three Oaks Drive, Northfield, MN</a>. There's plenty of parking available near the back entrance of the building, next to the water tower in the image above.</p></li>
				</ul>
				<p>If you have any concerns or questions about travel, we're here to help! Shoot us an email at <a href="mailto:team@carlhacks.com">team@carlhacks.com</a>.</p>
			</div>
		</div>
	</div>
</div>

<div class="col justify content gap-4">
	<h3 class="center">Sponsors</h3>
	<div class="col gap-4 xl-row middle center xl-gap-4">
	    <a href="http://target.com"><img src="/images/sponsors/target.png" class="sponsor-img" style="max-width: 250px;"></a>
	    <a href="http://apps.carleton.edu/orgs/csa/"><img src="/images/sponsors/csa.png" class="sponsor-img" style="max-width: 100px;"></a>
	    <a href="http://www.crowdstrike.com/about-us/"><img src="/images/sponsors/crowdstrike.png" class="sponsor-img" style="max-width: 350px;"></a>
	    <a href="http://www.lewisrice.com/"><img src="/images/sponsors/lewis_rice.png" class="sponsor-img" style="max-width: 260px;"></a>
    </div>
	<div class="col gap-4 xl-row middle center xl-gap-4">
	    <a href="http://google.com/about"><img src="/images/sponsors/google.png"  class="sponsor-img"style="max-width: 110px;"></a>
	    <a href="http://bustoutsolutions.com/"><img src="/images/sponsors/bustout.png"  class="sponsor-img"style="max-width: 110px;"></a>
	    <a href="http://epic.com"><img src="/images/sponsors/epic.png" class="sponsor-img" style="max-width: 90px;"></a>
	    <a href="http://radix.website/dot-tech/"><img src="/images/sponsors/tech.png" class="sponsor-img" style="max-width: 90px;"></a>
	    <a href="https://mongodb.com"><img src="/images/sponsors/mongodb.png" class="sponsor-img" style="max-width: 110px;"></a>
	    <a href="https://recurse.com"><img src="/images/sponsors/recurse.png" class="sponsor-img" style="max-width: 40px;"></a>
	    <a href="https://cleancoders.com/landing"><img src="/images/sponsors/cc.png"  class="sponsor-img" style="max-width: 110px;"></a>
	    <a href="https://mlh.io"><img src="/images/sponsors/mlh.png" class="sponsor-img" style="max-width: 90px;"></a>
	</div>
	<p class="center"><a href="/pdf/sponsorship.pdf">Interested in sponsoring?</a></p>
</div>
