---
title: CarlHacks 2016
---

<div class="page middle center title">
	<div class="middle center row gap-3">
		<%= image_tag "./logo-white.png", class: 'logo' %>
		<div class="col justify">
			<h1>CARL<span class=notbold>HACKS</span></h1>
			<h2><span class="notbold">NORTHFIELD, MN</span> • APRIL 8-10, 2016</h2>
			<a href="#"><span class="center">JOIN US</span></a>
		</div>
	</div>
</div>

<div class="page middle center general">
	<div class="middle center row gap-2">
		<div class="col justify information">
			<h1>Test?</h1>
		</div>
		<div class="col justify testimony">
			<h1>Test?</h1>
		</div>
	</div>
</div>