---
title: CarlHacks 2016
---

<div class="page middle center title">
	<div class="center middle row gap-3">
		<%= image_tag "./logo-white.png", class: 'logo' %>
		<div class="col gap-2">
			<h1>CARL<span class=notbold>HACKS</span></h1>
			<h2><span class="notbold">APRIL 8-10, 2016</span></h2>
			<h2><span class="notbold">NORTHFIELD, MN</span></h2>
			<a href="#">JOIN US</a>
		</div>
	</div>
</div>